  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700&display=swap');

  body {
    margin: auto;
  }

  :root {
    scroll-behavior: smooth;
  }

  .headerimg {
    background-image: url(../img/head.jpg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-one {
    height: 460px;
    background-color: rgb(251, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  body {
    max-width: 1440px;
  }

  .nav {
    padding: 10px 0px;
  }

  .nav a {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
  }

  .headerimg {
    text-align: right;
  }

  .headerimg a {
    color: white;
    margin-right: 10px;
  }

  .mb-3,
  .my-3 {
    margin-bottom: 0rem!important;
  }

  .main-text {
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    color: #6f6f6f;

  }

  .button-more {
    color: white;
    background-color: #2074b9;
    border: 0px solid;
    border-radius: 4px;
    padding: 12px;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 20px;
  }

  .button-more:hover {

    border: 1px solid red;
  }

  #card1,
  #card2,
  #card3 {
    margin-bottom: 0px!important;
  }

  .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-title {
    font-size: 24px;
    font-family: 'Open Sans Light', sans-serif;
  }

  .card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

  }

  footer {
    background-color: rgb(237, 232, 255);
  }

  .footertext p {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 15px;
  }

  .footertext {
    display: flex;
    padding: 10px 5px 0px;
  }

  .leftcol {
    text-align: left;
    width: 50%;
  }

  .rightcol {
    text-align: right;
    width: 50%;
  }

  .rightcol a {
    color: black;
  }

  @media screen and (min-width: 320px) {
    .card-body {
      padding: 1.25rem!important;

    }
  }

  @media screen and (min-width: 750px) {
    .card-body {
      padding: 0px 5rem!important;

    }
  }

  @media screen and (max-width: 750px) {
    .rowreverse {
      flex-direction: column-reverse;

    }
  }

  @media screen and (max-width: 550px) {
    .footertext {
      display: block;

    }
    .rightcol,
    .leftcol {
      width: 100%;
      text-align: center;
    }
  }
  